---
import Layout from "@/components/layouts/Root.astro";
import { getCollection, render } from "astro:content";
import FormattedDate from "@/components/ui/FormattedDate.astro";
export async function getStaticPaths() {
	const articles = await getCollection("articles");
	return articles.map((article) => ({
		params: { id: article.id },
		props: {
			article,
		},
	}));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<Layout
	title={article.data.title}
	description={article.data.description}
	cover={article.data.cover?.src}
>
	<article class="flex flex-col gap-6 py-4">
		<header class="flex flex-col gap-1.5">
			<h1 class="font-serif text-3xl md:text-4xl">
				{article.data.title}
			</h1>
			<div class="text-foreground-light text-sm">
				<FormattedDate date={article.data.pubDate} month="long" />
			</div>
		</header>
		<div
			class="prose dark:prose-invert prose-headings:font-serif prose-headings:font-medium"
		>
			<Content />
		</div>
		<footer>
			<address>Iván.</address>
		</footer>
	</article>
</Layout>
