---
import { social } from '../../data/site';
import Page from '../../layouts/Page.astro';
import './_style.css'
---

<Page title="Contacto">
  <ul>
    <li><a href={social.instagram} target="_blank">Instagram</a></li>
    <li><a href={social.linkedin} target="_blank">LinkedIn</a></li>
    <li><a href={social.github} target="_blank">GitHub</a></li>
    <li><a href={social.x} target="_blank">X (Twitter)</a></li>
    <li><a href={social.youtube} target="_blank">YouTube</a></li>
  </ul>

    <form class="ContactForm" action="https://api.web3forms.com/submit" method="POST">

      <input type="hidden" name="access_key" value="15786cbc-b2d6-4c14-a3d6-6eced856b006">

      <div class="Field">
        <label>Name:</label>
        <input type="text" name="name" required>
      </div>
      <div class="Field">
        <label>Email:</label>
        <input type="email" name="email" required>
      </div>
      <div class="Field">
        <label>Mensaxe:</label>
        <textarea name="message" required></textarea>
      </div>
      <div class="h-captcha" data-captcha="true"></div>
      <button type="submit">Enviar</button>
  </form>

</Page>

<script src="https://web3forms.com/client/script.js" async defer></script>