---
import "@/assets/global.css";
import "@fontsource-variable/eb-garamond";
import "@fontsource-variable/inter";
import Navbar from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	cover?: string;
}

const { title, description, cover } = Astro.props;
---

<!doctype html>
<html lang="gl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛖</text></svg>"
		/>

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Iván Barcia" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={cover} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={cover} />
		<ClientRouter />
	</head>
	<body
		class="text-foreground bg-background mx-auto flex min-h-screen max-w-4xl flex-col px-4"
	>
		<Navbar />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
