---
import { social, personal } from '../data/site'
---

<nav>

    <ul>
        <li><a href='mailto:'{personal.email}>Email</a></li>
        <li><a href='/'>Web</a></li>
    </ul>

    <ul>
        <li>
            <a href={social.instagram} target="_blank">Instagram</a>
        </li>
            <li><a href={social.x} target="_blank">X</a></li>
            <li><a href={social.linkedin} target="_blank">LinkedIn</a></li>
            <li><a href={social.github} target="_blank">GitHub</a></li>
    </ul>
</nav>