---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { ViewTransitions } from 'astro:transitions';
import '../styles/index.css'

interface Props {
	title: string,
	description: string
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="gl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL('og.png', Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL('og.png', Astro.url)} />

		<ViewTransitions />
	</head>
	<body>
		<Nav />
		<main class="Wrapper">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
	.Wrapper {
		max-width: 1024px;
		padding: 0 1rem;
		margin: 3rem auto 5rem;
		width: 100%;

		@media screen and (max-width: 720px) {
			margin: 1rem auto 3rem;
		}
	}
</style>
